/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

  /* background-color: rgb(186, 35, 133); */
  body {
    background-image: linear-gradient(to right, rgb(186, 35, 133), rgb(115, 85, 133), rgb(35, 133, 186));
    font-family: monaco;
  }
  

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-primary:hover{
  background-color: #5b99d8;
  color: black;
}
